In [28]:
import pandas as pd
import numpy as np

x = np.array(['p','y','t','h','o','n'])                      # Series function is used for 1D array

y=pd.Series(x,index=['a','b','c','d','e','f'])     # series function always return index and it's value

print(y)

a    p
b    y
c    t
d    h
e    o
f    n
dtype: object

In [29]:
import pandas as pd
import numpy as np
y=pd.Series({'A':'riya','B':2,'C':3,'D':4}) # series function using dictionary

print(y)
print('\n')

print(y[0])
print(y['A'])   #both 'A' and '0' can be used as index

print(y.shape)# print no. of values

A    riya
B       2
C       3
D       4
dtype: object


riya
riya
(4,)

In [31]:
#map function

import pandas as pd 
import numpy as np
y =pd.Series(['A','B','c','D'])
y.map({'B':"AMIT",'c':"Riya",'D':"shiv",'A':"ss"})

0      ss
1    AMIT
2    Riya
3    shiv
dtype: object

In [18]:
#standard deviation

import pandas as pd
import numpy as np

print(np.std([5,6,7,2,3]))

1.8547236990991407

In [19]:
# Data Frame

#use dictionary and give values at particular key

import pandas as pd
import numpy as np
x={'Name':['Rahul','Ram','Amit','Alok'],'s_m1':[52,38,42,37],'s_m2':[41,35,29,36]}

y=pd.DataFrame(x)

print(y)
 
print('\n',y.std()) # calculate std (standard deviation) of numerical vlaue

    Name  s_m1  s_m2
0  Rahul    52    41
1    Ram    38    35
2   Amit    42    29
3   Alok    37    36

 s_m1    6.849574
s_m2    4.924429
dtype: float64

In [20]:

print("Data Frame using series function\n")

import pandas as pd
import numpy as np

x= ['Ram','Ramesh','Rahul','Amit']
y= [102,103,104,105]

z= pd.Series(x)
z1= pd.Series(y)

a={'Name':z,'ID':z1}

b=pd.DataFrame(a)

print(b)

Data Frame using series function

     Name   ID
0     Ram  102
1  Ramesh  103
2   Rahul  104
3    Amit  105

In [21]:
print ("Data Frame using dictionary\n")

import pandas as pd
import numpy as np
x={'Name':['Rahul','Ram','Amit','Alok','Ramesh'],'s_m1':[52,38,42,37,56],'s_m2':[41,35,29,89,67]}

y=pd.DataFrame(x)
print(y)

Data Frame using dictionary

     Name  s_m1  s_m2
0   Rahul    52    41
1     Ram    38    35
2    Amit    42    29
3    Alok    37    89
4  Ramesh    56    67

In [22]:
#Data Frame with missing row values 

print('If vlaues of row are missing it will show "NaN" as index "d" and "e" don\'t have values in column "name" \n')
import pandas as pd
x={'Name':pd.Series(['Rahul','Ram','Amit'],index=['a','b','c']),'Id':pd.Series([101,102,103,104,105],index=['a','b','c','d','e'])}

y=pd.DataFrame(x)

print(y)


print('\n',y.shape)




# how to add new column in a Data Frame

print("\n Adding new column \n")

y['Age']=pd.Series([20,30,40,45,60],index=['a','b','c','d','e'])

print(y)
print('\n')




# create a new column by adding two column

y["Amount"]=y['Id']+y["Age"]
print("\nNew column by adding two column \n",y)





# HOw to add row in a Data Frame

a=pd.DataFrame([['Ramesh',106,35,200]],columns=['Name','Id','Age','Amount'])
y=y.append(a) #use append function
print("\nadding new row in a data frame \n",y)





#How to delete a particular row
y.drop(0)
print('\nRow with index no.0 is deleted \n',y)



#how to delete a particular column

del y["Amount"] # or you can use "y.pop('Age')" 

print("\n Column 'Amount' is deleted \n",y)






#how to print a particular column

print('\n Vlaues in column "ID" \n')
print(y["Id"])





# print all the data at a particular loction 

print (" \nPrint all the Data at loction 'a'\n")

print(y.loc['a']) 
print("\n")
print("Print Data at location 1 \n", y.iloc[1])   # using ilog iif you want to use 0,1,2,3 as a index

print("\nPrint Data form index 0 to 3 \n",y[ :4]) # 0 to 3

If vlaues of row are missing it will show "NaN" as index "d" and "e" don't have values in column "name"

    Name   Id
a  Rahul  101
b    Ram  102
c   Amit  103
d    NaN  104
e    NaN  105

 (5, 2)

 Adding new column

    Name   Id  Age
a  Rahul  101   20
b    Ram  102   30
c   Amit  103   40
d    NaN  104   45
e    NaN  105   60



New column by adding two column
     Name   Id  Age  Amount
a  Rahul  101   20     121
b    Ram  102   30     132
c   Amit  103   40     143
d    NaN  104   45     149
e    NaN  105   60     165

adding new row in a data frame
      Name   Id  Age  Amount
a   Rahul  101   20     121
b     Ram  102   30     132
c    Amit  103   40     143
d     NaN  104   45     149
e     NaN  105   60     165
0  Ramesh  106   35     200

Row with index no.0 is deleted
      Name   Id  Age  Amount
a   Rahul  101   20     121
b     Ram  102   30     132
c    Amit  103   40     143
d     NaN  104   45     149
e     NaN  105   60     165
0  Ramesh  106   35     200

 Column 'Amount' is deleted
      Name   Id  Age
a   Rahul  101   20
b     Ram  102   30
c    Amit  103   40
d     NaN  104   45
e     NaN  105   60
0  Ramesh  106   35

 Vlaues in column "ID"

a    101
b    102
c    103
d    104
e    105
0    106
Name: Id, dtype: int64

Print all the Data at loction 'a'

Name    Rahul
Id        101
Age        20
Name: a, dtype: object


Print Data at location 1
 Name    Ram
Id      102
Age      30
Name: b, dtype: object

Print Data form index 0 to 3
     Name   Id  Age
a  Rahul  101   20
b    Ram  102   30
c   Amit  103   40
d    NaN  104   45

In [23]:
import pandas as pd 
x =pd.DataFrame({'Name':['Rahul','Amit','Alok','Danish'],'age':[24,35,np.nan,40]}) # if we want to skip value use ap.nan 
print(x)

# count the no.of values in column
x.count()

#to find the the row whose value is missing

x.count(axis='columns') # row having index no.2 has only 1 value

     Name   age
0   Rahul  24.0
1    Amit  35.0
2    Alok   NaN
3  Danish  40.0

0    2
1    2
2    1
3    2
dtype: int64

In [24]:
import pandas as pd
x=pd.Series([12,13,45,65])

x.describe() # give mean , count ,std,min,25%... of numerical value

count     4.000000
mean     33.750000
std      25.863423
min      12.000000
25%      12.750000
50%      29.000000
75%      50.000000
max      65.000000
dtype: float64

In [25]:
import pandas as pd
y=pd.Series(['p','a','n','d','s','a','s'])
y.describe()    # describe string values

count     7
unique    5
top       s
freq      2
dtype: object

In [26]:
import pandas as pd
#To remove dublicate values
y= y.drop_duplicates()
print(y)

0    p
1    a
2    n
3    d
4    s
dtype: object

In [27]:
import pandas as pd

x=pd.DataFrame([[1,5,7],[10,12,15],[18,21,24]],columns=['A','B','C'])

x.agg(['sum','min','max'])

      A   B   C
sum  29  38  46
min   1   5   7
max  18  21  24